<button class="btn-menu" (click)="toggleSidebar()">☰</button>
<div class="sidebar" [class.abierto]="sidebarAbierto">
  <div class="logo">
    <span class="emoji">💊</span>
  </div>

  <nav>
    <ul class="menu-options">
      <li routerLink="/dashboard" routerLinkActive="selected" (click)="toggleSidebar()">
        <span class="emoji">🏠</span>
      </li>
      <li routerLink="/medicamentos" routerLinkActive="selected" (click)="toggleSidebar()">
        <span class="emoji">💊</span>
      </li>
      <li routerLink="/horarios" routerLinkActive="selected" (click)="toggleSidebar()">
        <span class="emoji">⏰</span>
      </li>
      <li routerLink="/dispositivo" routerLinkActive="selected" (click)="toggleSidebar()">
        <span class="emoji">🔌</span>
      </li>
      <li routerLink="/login" (click)="toggleSidebar()">
        <span class="emoji">🚪</span>
      </li>
    </ul>
  </nav>

  <div class="more-options">
    <span class="emoji">⋯</span>
  </div>
</div>
<div class="contenido" [class.con-sidebar]="sidebarAbierto">
  <router-outlet></router-outlet>
</div>
